# Amazon SES SMTP Credentials
Mail_SMTP_HOST=email-smtp.ap-south-1.amazonaws.com
Mail_SMTP_PORT=587
MAIL_SMTP_USERNAME=<your-ses-smtp-username>
MAIL_SMTP_PASSWORD=<your-ses-smtp-password>

# AWS API Credentials (for dsmtp --api mode)
AWS_ACCESS_KEY_ID=<your-access-key>
AWS_SECRET_ACCESS_KEY=<your-secret-key>
