S3_BEACON_BUCKET=naef-beacon
S3_EXCHANGE_BUCKET=naef-exchange
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-south-1

# SES credentials (for dsmtp)
Mail_SMTP_HOST=email-smtp.ap-south-1.amazonaws.com
Mail_SMTP_PORT=587
MAIL_SMTP_USERNAME=
MAIL_SMTP_PASSWORD=
